/* Osseous CSS - github.com/amdelamar/osseous */
@charset "UTF-8";html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,footer,header,nav,section{display:block}
h1{font-size:2em;margin:.67em 0}
figcaption,figure,main{display:block}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:inherit;font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
dfn{font-style:italic}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
audio,video{display:inline-block}
audio:not([controls]){display:none;height:0}
img{border-style:none}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{display:inline-block;vertical-align:baseline}
textarea{overflow:auto}
[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details,menu{display:block}
summary{display:list-item}
canvas{display:inline-block}
[hidden],template{display:none}
@media (max-width:480px){.no-scroll{overflow:hidden}
.no-scroll body{overflow:hidden;position:fixed;width:100%}
}
body{display:flex;min-height:100vh;flex-direction:column}
.hide{display:none!important}
.anchor{display:block;position:relative;visibility:hidden}
.debug-black{background-color:rgba(0,0,0,.32)}
.debug-blue{background-color:rgba(35,145,211,.32)}
.debug-green{background-color:rgba(0,200,0,.32)}
.debug-red{background-color:rgba(251,8,7,.32)}
.debug-white{background-color:hsla(0,0%,100%,.32)}
.debug-yellow{background-color:rgba(254,191,2,.32)}
.debug *{outline:1px solid rgba(251,8,7,.24)}
.debug .debug-grid{position:absolute;top:0;left:0;right:0;pointer-events:none;z-index:1000;background:repeating-linear-gradient(rgba(251,8,7,.08),rgba(251,8,7,.08) 16px,transparent 0,transparent 24px)}
.container{position:relative;padding-left:24px;padding-right:24px;margin:0 auto}
@media (min-width:920px){.container{padding:0;width:872px}
}
@media (min-width:1201px){.container{padding:0;width:1152px}
}
.container-md{margin:0 auto;max-width:919px}
.container-sm{margin:0 auto;max-width:640px}
.container-xs{margin:0 auto;max-width:480px}
@media (min-width:480px){.columns{display:flex}
}
.columns .column{display:block;flex-grow:1;flex-basis:0;flex-shrink:1;padding:0 12px}
@media (min-width:480px){.columns .column:first-child{padding-left:0}
.columns .column:last-child{padding-right:0}
}
@media (max-width:480px){.columns .column{padding:0}
}
.items{display:flex;flex-wrap:wrap;flex-direction:row;justify-content:space-around}
.items .item{display:flex;flex-direction:column;padding-top:48px;padding-bottom:32px;border-bottom:1px solid #f1f3f3;width:calc(50% - 12px * 2)}
.items .item:nth-last-child(-n+2){border-bottom:0}
@media (max-width:480px){.items .item{width:100%}
.items .item:nth-last-child(2){border-bottom:1px solid #f1f3f3}
}
@media (min-width:920px){.items .one-third{width:calc(33.3333% - 12px * 2)}
.items .one-third:nth-last-child(-n+3){border-bottom:0}
}
.text-center{text-align:center}
.text-right{text-align:right}
.text-left{text-align:left}
.text-bottom{margin-top:auto}
hr{margin-top:40px;margin-bottom:56px;border:0;border-top:1px solid #f1f3f3}
hr.break,hr.break-sm{border-color:transparent}
hr.break-sm{margin-top:24px;margin-bottom:24px}
.legal .licenses,.list-unstyled{list-style:none;padding:0}
ul.checkmarks{margin-bottom:24px;padding-left:0}
ul.checkmarks li{list-style-type:none;margin-bottom:16px;background-image:url(/p/img/icon-check.svg);background-repeat:no-repeat;background-position:0 4px;padding-left:32px}
.intro-image{margin-bottom:40px}
.intro-image svg{width:80%;height:100%}
.intro-image-cover{max-width:1600px;height:560px;margin:0 auto 64px;background-size:cover;background-position:50%}
@media (max-width:480px){.intro-image-cover{height:240px}
}
.feature-image{margin-bottom:24px}
.tabs{text-align:center;margin-top:32px;margin-bottom:32px}
.tabs a{display:inline-block;color:#272b2d;text-transform:uppercase;line-height:32px;font-weight:600;font-size:12px;padding:0 24px;margin:0 4px;border-radius:16px}
.tabs a.active{background:#f1f3f3}
.tabs a:hover{text-decoration:none}
@media (max-width:480px){.tabs a{display:block;margin:8px 0}
}
.btn{display:inline-block;padding:0 32px;color:#fff;background-color:#8d989f;max-width:100%;height:48px;white-space:nowrap;overflow:hidden;text-align:center;text-overflow:ellipsis;text-transform:uppercase;text-decoration:none;font-weight:600;line-height:48px;border:0;border-radius:8px;box-shadow:0 8px 16px 0 rgba(0,0,0,.12);cursor:pointer;transition:all .24s}
.btn.btn-block{width:100%}
.btn.focus,.btn:focus,.btn:hover{text-decoration:none;box-shadow:0 8px 16px 0 rgba(0,0,0,.2)}
.btn.no-capital{text-transform:none}
*{box-sizing:border-box}
body{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:300;color:#494f53;line-height:1.5;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}
p{margin-top:0;margin-bottom:16px}
a{text-decoration:none;color:#2391d3}
a:hover{text-decoration:underline}
b,h1,strong{font-weight:600}
h1{color:#a8b1b6;text-align:center;font-size:32px;margin-top:56px;margin-bottom:8px}
@media (max-width:480px){h1{font-size:24px;margin-top:16px}
}
h2{color:#272b2d;text-align:center;font-size:32px;font-weight:600;margin-top:120px;margin-bottom:24px}
@media (max-width:480px){h2{font-size:24px;margin-top:72px;margin-bottom:16px;text-align:left}
}
h3{font-size:16px;font-weight:600;margin-bottom:16px;margin-top:0}
.tagline,h3{color:#272b2d}
.tagline{font-size:48px;line-height:56px;font-weight:300;text-align:center;margin-bottom:72px}
@media (max-width:480px){.tagline{font-size:32px;line-height:40px;margin-bottom:48px}
}
.extra-large{color:#272b2d;font-size:56px;font-weight:200;text-align:center;margin-bottom:8px}
.large{color:#272b2d;font-size:24px;font-weight:300;margin-bottom:56px}
@media (max-width:480px){.large{margin-bottom:24px}
}
.small{font-size:12px;font-weight:400;color:#8d989f}
.small a{text-decoration:underline;color:#8d989f}
.small a:hover{text-decoration:none;color:#6b7479}
.text-transform-initial{text-transform:none}
.text-black{color:#000}
.text-blue{color:#2391d3}
.text-gray{color:#8d989f}
.text-green{color:#00c800}
.text-red{color:#fb0807}
.text-white{color:#fff}
.text-yellow{color:#febf02}
.bg-black{background-color:#000}
.bg-blue{background-color:#2391d3}
.bg-gray{background-color:#8d989f}
.bg-green{background-color:#00c800}
.bg-red{background-color:#fb0807}
.bg-white{background-color:#fff}
.bg-yellow{background-color:#febf02}
.svg-black path{fill:#000}
.svg-blue path{fill:#2391d3}
.svg-gray path{fill:#8d989f}
.svg-green path{fill:#00c800}
.svg-red path{fill:#fb0807}
.svg-white path{fill:#fff}
.svg-yellow path{fill:#febf02}
.nav{display:flex;align-items:center;justify-content:space-between}
.nav a{color:#494f53;transition:all .08s}
.nav a:hover{color:#111213}
.nav .nav-group{display:flex;align-items:center}
.nav .nav-item{display:flex;margin:0 32px;line-height:16px;padding:8px 0;text-align:center;text-transform:uppercase;font-size:11px;font-weight:600;text-decoration:none}
@media (min-width:640px) and (max-width:919px){.nav .nav-item{margin:0 24px}
}
.nav .nav-item:first-child{margin-left:0}
.nav .nav-item:last-child{margin-right:0}
.header{height:64px}
.header .header-item-close,.header .header-item-menu{display:none}
.header svg path{fill:#494f53}
.header svg:hover path{fill:#111213}
.header .nav-login{color:#2391d3}
.header .nav-login:hover{color:#1b6ea0}
@media (max-width:919px){.header{flex-direction:column;overflow-x:hidden}
.header.header-fullscreen .header-group-top{position:fixed;top:24px}
.header.header-fullscreen .header-group-show{transform:translateX(0);top:0;left:0;bottom:0;right:0}
.header.header-fullscreen .header-item-close{display:flex}
.header.header-fullscreen .header-item-menu{display:none!important}
.header .header-item-logo{padding:16px 0}
.header .header-group{justify-content:space-between;height:64px;width:100%;z-index:101}
.header .header-group-menu{position:fixed;height:100%;width:100%;padding:0 48px;z-index:100;display:flex;justify-content:center;align-items:left;flex-direction:column;background:#fff;transform:translateX(110%);transition:transform .4s cubic-bezier(.19,1,.22,1)}
.header .header-group-menu .nav-item{text-transform:none!important;font-size:32px;font-weight:300;line-height:40px;padding:16px 0;margin:0}
.header .nav-item{margin:0}
.header .nav-item.header-item-close,.header .nav-item.header-item-menu{align-items:center;justify-content:center;width:32px;height:32px;user-select:none}
.header .nav-item.header-item-close svg,.header .nav-item.header-item-menu svg{margin-left:auto}
.header .nav-item.header-item-menu{display:flex}
}
.footer{background-color:#fff;border-top:1px solid #f1f3f3;margin-top:160px;min-height:180px;flex-direction:column;padding:40px 0 48px}
.footer .footer-item-small{display:none}
.footer svg path{fill:#494f53}
.footer svg:hover path{fill:#111213}
.footer .copyright{text-transform:none;font-weight:400}
.footer .nav-group{margin:16px 0}
.footer .footer-icons{height:32px}
@media (max-width:480px){.footer{justify-content:space-around;flex-flow:row wrap;align-items:flex-start;margin-top:40px;padding:16px 0 32px}
.footer .footer-group{flex-direction:column;width:160px}
.footer .footer-group .nav-item:first-child{margin-left:24px}
.footer .footer-group .nav-item:last-child{margin-right:24px}
.footer .footer-item-wide{display:none}
.footer .footer-item-small{text-align:center;width:100%;display:initial}
.footer .nav-item{margin:0 24px}
}
.border{border: 1px solid #f1f3f3;}
.border-top{border-top: 1px solid #f1f3f3;}
.border-bottom{border-bottom: 1px solid #f1f3f3;}
.border-left{border-left: 1px solid #f1f3f3;}
.border-right{border-right: 1px solid #f1f3f3;}
.card {/* coming soon */}
.card-head {/* coming soon */}
.card-body {/* coming soon */}
.card-img-top {/* coming soon */}
.card-img-left {/* coming soon */}
/* :root { variables } */
/* button success and danger */

/* text utilities */
.text-thin {line-height: 0.8;}
.text-large {font-size: 2.0em;}
.text-medium {font-size: 1.5em;}
.text-regular {font-size: 1.0em;}
.text-small {font-size: 0.9em;}
.text-tiny {font-size: 0.6em;}
.text-bold {font-weight: 700;}
.text-bolder {font-weight: 800;}
.text-wide {letter-spacing: 4px;}
.text-right {float: right;}
.text-left {float: left;}
.text-shadow {text-shadow: 3px 2px #CCC;}
.text-uppercase {text-transform: uppercase;}
.text-lowercase {text-transform: lowercase;}
.text-capitalize {text-transform: capitalize;}

/* animation */
.wat-animate-opacity{-webkit-animation:opac 1.5s;animation:opac 1.5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.wat-animate-slow{-webkit-animation:opac 4s;animation:opac 4s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.wat-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.wat-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.wat-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.wat-animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.wat-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 3px;
  width: 17px; height: 17px;
  border: 2px solid #44494D;
  background-color: #44494D;
}
[type="checkbox"]:focus + label:before,
[type="checkbox"]:hover + label:before,
[type="radio"]:focus + label:before,
[type="radio"]:hover + label:before {
	border: 2px solid #43bfbe !important;
}
[type="checkbox"]:focus + label:after,
[type="checkbox"]:hover + label:after,
[type="radio"]:focus + label:after,
[type="radio"]:hover + label:after {
	color: #43bfbe !important;
}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  border-radius: 50%;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 3px;
  font-size: 18px;
  line-height: 0.8;
  color: #FFF;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #a2d9d4;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after,
[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before,
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
  border: 2px dotted #a2d9d4;
}