/*!
 * Osseous CSS v1.0.0
 * https://austindelamar.com/osseous
 * MIT License
 */
@charset "UTF-8";
:root {
    --theme1: #66669a; /* Purple */
    --theme2: #5f5f60; /* Dark Grey */
    --theme3: #f0f0f0; /* Light Grey */
    --theme4: #bcbdbf; /* Grey */
    --theme5: #797a7c; /* Medium Grey */
    --theme6: #9397cd; /* Light Purple */
    --theme7: #fefefe; /* White */
	
	--light-grey: #E1E1E1;
	--font-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-monospace: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,"Courier New",monospace;
}
*{box-sizing:border-box;}
html{font-size:62.5%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{font-family:var(--font-default);font-size:1.5em;font-weight:400;color:#222;line-height:1.6;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;margin:0;}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline;}
audio:not([controls]){display:none;height:0}[hidden],template{display:none;}
a{color:#1EAEDB;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active,a:hover{color:#0FA0CE;text-decoration:underline;outline-width:0;}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}
dfn{font-style:italic}mark{background:#ff0;}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
img{border-style:none}
b,strong{font-weight:inherit;font-weight:bolder;}
svg:not(:root){overflow:hidden;}
details,menu{display:block;}
summary{display:list-item;}
canvas{display:inline-block;}
[hidden],template{display:none;}
p{margin-top:0;margin-bottom:16px;}
code,kbd,pre,samp{font-family:var(--font-monospace);font-size:11pt;white-space:pre-wrap;border-radius:5px;}
code{padding:.2rem .5rem; margin:0 .2rem; font-size:90%; white-space:nowrap; background:#F1F1F1; border:1px solid #E1E1E1; border-radius:4px;}
pre > code{display:block; padding:1rem 1.5rem; white-space:pre;}
pre,blockquote,dl,figure,table,p,ul,ol,form{margin-bottom:2.5rem;}
h1, h2, h3, h4, h5, h6{margin-top:0;margin-bottom:2rem;font-weight:300;}
h1{font-size:4.0rem; line-height:1.2; letter-spacing:-.1rem;}
h2{font-size:3.6rem; line-height:1.25; letter-spacing:-.1rem;}
h3{font-size:3.0rem; line-height:1.3; letter-spacing:-.1rem;}
h4{font-size:2.4rem; line-height:1.35; letter-spacing:-.08rem;}
h5{font-size:1.8rem; line-height:1.5; letter-spacing:-.05rem;}
h6{font-size:1.5rem; line-height:1.6; letter-spacing:0;}
@media (min-width:550px){
 h1{font-size:5.0rem;}
 h2{font-size:4.2rem;}
 h3{font-size:3.6rem;}
 h4{font-size:3.0rem;}
 h5{font-size:2.4rem;}
 h6{font-size:1.5rem;}
}
ul{list-style:circle inside;}
ol{list-style:decimal inside;}
ol, ul{padding-left:0; margin-top:0;}
ul ul,ul ol,ol ol,ol ul{margin:1.5rem 0 1.5rem 3rem; font-size:90%;}
li{margin-bottom:1rem;}
th,td{padding:12px 15px; text-align:left; border-bottom:1px solid #E1E1E1;}
th:first-child,td:first-child{padding-left:0;}
th:last-child,td:last-child{padding-right:0;}
hr{box-sizing:content-box;margin-top:3rem;margin-bottom:3.5rem;border-width:0;border-top:1px solid #E1E1E1;height:0;overflow:visible;}
input,textarea,select,fieldset{margin-bottom:1.5rem;}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold;}
button,input{overflow:visible}button,select{text-transform:none;}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button;}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText;}
button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0;}
button,input{overflow:visible;}
button,select{text-transform:none;}
[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText;}
progress{display:inline-block;vertical-align:baseline;}
textarea{overflow:auto;}
[type=checkbox],[type=radio]{padding:0;}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto;}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px;}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
::-webkit-input-placeholder{color:inherit;opacity:0.54;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
.button,button,input[type="submit"],input[type="reset"],input[type="button"]{display:inline-block; height:38px; padding:0 30px; color:#555; text-align:center; font-size:11px; font-weight:600; line-height:38px; letter-spacing:.1rem; text-transform:uppercase; text-decoration:none; white-space:nowrap; background-color:transparent; border-radius:4px; border:1px solid #bbb; cursor:pointer; box-sizing:border-box;}
.button:hover,button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.button:focus,button:focus,input[type="submit"]:focus,input[type="reset"]:focus,input[type="button"]:focus{
 color:#333; border-color:#888; outline:0; text-decoration:none;}
.button.button-primary,button.button-primary,input[type="submit"].button-primary,input[type="reset"].button-primary,input[type="button"].button-primary{
 color:#FFF; background-color:#33C3F0; border-color:#33C3F0;}
.button.button-primary:hover,button.button-primary:hover,input[type="submit"].button-primary:hover,input[type="reset"].button-primary:hover,input[type="button"].button-primary:hover,.button.button-primary:focus,button.button-primary:focus,input[type="submit"].button-primary:focus,input[type="reset"].button-primary:focus,input[type="button"].button-primary:focus{
 color:#FFF; background-color:#1EAEDB; border-color:#1EAEDB; text-decoration:none;}
 /* button success and danger */
input[type="email"],input[type="number"],input[type="search"],input[type="text"],input[type="tel"],input[type="url"],input[type="password"],textarea,select{
 height:38px; padding:6px 10px; background-color:#fff; border:1px solid #D1D1D1; border-radius:4px; box-shadow:none; box-sizing:border-box;}
input[type="email"],input[type="number"],input[type="search"],input[type="text"],input[type="tel"],input[type="url"],input[type="password"],
textarea{-webkit-appearance:none; -moz-appearance:none; appearance:none;min-height:65px; padding-top:6px; padding-bottom:6px;}
textarea{min-height:65px; padding-top:6px; padding-bottom:6px;}
input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="text"]:focus,input[type="tel"]:focus,input[type="url"]:focus,input[type="password"]:focus,textarea:focus,select:focus{border:1px solid #33C3F0; outline:0;}
label,legend{display:block; margin-bottom:.5rem; font-weight:600;}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}
fieldset{padding:0; border-width:0;}
input[type="checkbox"],input[type="radio"]{display:inline;}

/* Tables */
.table{width:100%;border-collapse:collapse;table-layout:fixed;font-size:12px;line-height:16px;margin-bottom:16px}
@media (min-width:920px){.table{font-size:16px;line-height:24px}}
.table thead{position:absolute;clip:rect(1px,1px,1px,1px);overflow:hidden}
@media (min-width:480px){.table thead{position:relative;clip:auto;height:auto;width:auto;overflow:auto}}
.table thead th{font-weight:300;text-align:center}
.table tbody,.table td,.table th,.table tr{display:block;text-align:left;white-space:normal;border-bottom:1px solid #f1f3f3;padding:12px 0}
@media (max-width:480px){.table tbody,.table td,.table th,.table tr{border-bottom:0;padding:0;line-height:24px}
.table tbody img,.table td img,.table th img,.table tr img{width:12px}}
@media (min-width:480px){.table tr{display:table-row}}
.table td,.table th{vertical-align:middle}
@media (min-width:480px){.table td,.table th{display:table-cell}
.table td:first-child,.table th:first-child{width:200px}}
.table th{font-weight:600}
@media (min-width:480px){.table tbody{display:table-row-group}}
.table tbody tr{margin-bottom:1em}
@media (min-width:480px){.table tbody tr{display:table-row;border-width:1px}}
.table tbody tr:last-of-type{margin-bottom:0}
@media (min-width:480px){.table tbody th[scope=row]{text-align:left}}
.table tbody td{text-align:right}
@media (min-width:480px){.table tbody td{text-align:center}}
.table tbody td[data-type=currency]{text-align:right}
.table tbody td[data-title]:before{content:attr(data-title);float:left}
@media (min-width:480px){.table tbody td[data-title]:before{content:none}}

/* Containers and columns */
.container{position:relative; width:100%; max-width:960px; margin:0 auto; padding:0 20px; box-sizing:border-box;}
.row{display:inline-block; width:100%;}
.column,.columns{width:100%; float:left; box-sizing:border-box;}
@media (min-width:400px){.container{width:85%; padding:0;}}
@media (min-width:550px){
 .container{width:80%;}
 .column, .columns{margin-left:4%;}
 .column:first-child, .columns:first-child{margin-left:0;}
 .one.column, .one.columns{width:4.66666666667%;}
 .two.columns{width:13.3333333333%;}
 .three.columns{width:22%;}
 .four.columns{width:30.6666666667%;}
 .five.columns{width:39.3333333333%;}
 .six.columns{width:48%;}
 .seven.columns{width:56.6666666667%;}
 .eight.columns{width:65.3333333333%;}
 .nine.columns{width:74.0%;}
 .ten.columns{width:82.6666666667%;}
 .eleven.columns{width:91.3333333333%;}
 .twelve.columns{width:100%; margin-left:0;}
 .one-third.column{width:30.6666666667%;}
 .two-thirds.column{width:65.3333333333%;}
 .one-half.column{width:48%;}
 .offset-by-one.column, .offset-by-one.columns{margin-left:8.66666666667%;}
 .offset-by-two.column, .offset-by-two.columns{margin-left:17.3333333333%;}
 .offset-by-three.column, .offset-by-three.columns{margin-left:26%;}
 .offset-by-four.column, .offset-by-four.columns{margin-left:34.6666666667%;}
 .offset-by-five.column, .offset-by-five.columns{margin-left:43.3333333333%;}
 .offset-by-six.column, .offset-by-six.columns{margin-left:52%;}
 .offset-by-seven.column, .offset-by-seven.columns{margin-left:60.6666666667%;}
 .offset-by-eight.column, .offset-by-eight.columns{margin-left:69.3333333333%;}
 .offset-by-nine.column, .offset-by-nine.columns{margin-left:78.0%;}
 .offset-by-ten.column, .offset-by-ten.columns{margin-left:86.6666666667%;}
 .offset-by-eleven.column, .offset-by-eleven.columns{margin-left:95.3333333333%;}
 .offset-by-one-third.column, .offset-by-one-third.columns{margin-left:34.6666666667%;}
 .offset-by-two-thirds.column, .offset-by-two-thirds.columns{margin-left:69.3333333333%;}
 .offset-by-one-half.column, .offset-by-one-half.columns{margin-left:52%;}
}
.margin{margin:8%}
.margin-top{margin-top:8%}
.margin-bottom{margin-bottom:8%}
.margin-left{margin-left:8%}
.margin-right{margin-right:8%}
.padding{padding:8%}
.padding-top{padding-top:8%}
.padding-bottom{padding-bottom:8%}
.padding-left{padding-left:8%}
.padding-right{padding-right:8%}
.border{border: 1px solid #E1E1E1;}
.border-top{border-top: 1px solid #E1E1E1;}
.border-bottom{border-bottom: 1px solid #E1E1E1;}
.border-left{border-left: 1px solid #E1E1E1;}
.border-right{border-right: 1px solid #E1E1E1;}
.shadow{box-shadow: 0 0 16px 10px rgba(0,0,0,.33);}
.shadow-top{box-shadow: 0 -8px 10px rgba(0,0,0,.33);}
.shadow-bottom{box-shadow: 0 8px 10px rgba(0,0,0,.33);}
.shadow-left{box-shadow: -8px 0 10px rgba(0,0,0,.33);}
.shadow-right{box-shadow: 8px 0 10px rgba(0,0,0,.33);}
.card {/* coming soon */}
.card-head {/* coming soon */}
.card-body {/* coming soon */}
.card-img-top {/* coming soon */}
.card-img-left {/* coming soon */}

/* Navbar */
.nav{display:flex;align-items:center;justify-content:space-between;}
.nav a{color:#494f53;transition:all .08s;}
.nav a:hover{color:#111213;}
.nav .nav-group{display:flex;align-items:center;}
.nav .nav-item{display:flex;margin:0 32px;line-height:16px;padding:8px 0;text-align:center;text-transform:uppercase;font-size:1.2rem;font-weight:600;text-decoration:none;}
@media (min-width:640px) and (max-width:919px;){.nav .nav-item{margin:0 24px;}}
.nav .nav-item:first-child{margin-left:0;}
.nav .nav-item:last-child{margin-right:0;}
.header{height:64px;}
.header .header-item-close,.header .header-item-menu{display:none;}
@media (max-width:919px){.header{flex-direction:column;overflow-x:hidden;}
.header.header-fullscreen .header-group-top{position:fixed;top:24px;}
.header.header-fullscreen .header-group-show{transform:translateX(0);top:0;left:0;bottom:0;right:0;}
.header.header-fullscreen .header-item-close{display:flex;}
.header.header-fullscreen .header-item-menu{display:none!important;}
.header .header-item-logo{padding:16px 0;}
.header .header-group{justify-content:space-between;height:64px;width:100%;z-index:101;}
.header .header-group-menu{position:fixed;height:100%;width:100%;padding:0 48px;z-index:100;display:flex;justify-content:center;align-items:left;flex-direction:column;background:#fff;transform:translateX(110%);transition:transform .4s cubic-bezier(.19,1,.22,1);}
.header .header-group-menu .nav-item{text-transform:none!important;font-size:32px;font-weight:300;line-height:40px;padding:16px 0;margin:0;}
.header .nav-item{margin:0;}
.header .nav-item.header-item-close,.header .nav-item.header-item-menu{align-items:center;justify-content:center;width:32px;height:32px;user-select:none;}
.header .nav-item.header-item-close svg,.header .nav-item.header-item-menu svg{margin-left:auto;}
.header .nav-item.header-item-menu{display:flex;}
}
.footer{background-color:#fff;border-top:1px solid #E1E1E1;margin-top:160px;min-height:180px;flex-direction:column;padding:40px 0 48px}
.footer .footer-item-small{display:none}
.footer svg path{fill:#494f53}
.footer svg:hover path{fill:#111213}
.footer .copyright{text-transform:none;font-weight:400}
.footer .nav-group{margin:16px 0}
.footer .footer-icons{height:32px}
@media (max-width:480px){.footer{justify-content:space-around;flex-flow:row wrap;align-items:flex-start;margin-top:40px;padding:16px 0 32px}
.footer .footer-group{flex-direction:column;width:160px}
.footer .footer-group .nav-item:first-child{margin-left:24px}
.footer .footer-group .nav-item:last-child{margin-right:24px}
.footer .footer-item-wide{display:none}
.footer .footer-item-small{text-align:center;width:100%;display:initial}
.footer .nav-item{margin:0 24px}
}

/* Utilities */
.text-transform-initial{text-transform:none;}
.text-short {line-height: 0.8;}
.text-large {font-size: 2.0em;}
.text-medium {font-size: 1.5em;}
.text-regular {font-size: 1.0em;}
.text-small {font-size: 0.9em;}
.text-tiny {font-size: 0.6em;}
.text-thinner {font-weight: 200;}
.text-thin {font-weight: 300;}
.text-bold {font-weight: 700;}
.text-bolder {font-weight: 800;}
.text-wide {letter-spacing: 4px;}
.text-shadow {text-shadow: 3px 2px #CCC;}
.text-uppercase {text-transform: uppercase;}
.text-lowercase {text-transform: lowercase;}
.text-capitalize {text-transform: capitalize;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-bottom{margin-top:auto;}
.u-center{text-align:center;}
.u-full-width{width:100%; box-sizing:border-box;}
.u-max-full-width{max-width:100%; box-sizing:border-box;}
.u-pull-right{float:right;}
.u-pull-left{float:left;}
.u-round{border-radius:0.25rem;}
.u-hide{display:none!important;}
.u-show{display:visible!important;}
.u-anchor{display:block;position:relative;visibility:hidden;}

/* Animation */
.animate-opacity{-webkit-animation:opac 1.5s;animation:opac 1.5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-slow{-webkit-animation:opac 4s;animation:opac 4s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

/* Checkboxes and Radios */
[type="checkbox"]:not(:checked),[type="checkbox"]:checked,[type="radio"]:not(:checked),[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,[type="checkbox"]:checked + label,[type="radio"]:not(:checked) + label,[type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,[type="checkbox"]:checked + label:before,[type="radio"]:not(:checked) + label:before,[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 3px;
  width: 17px; height: 17px;
  border: 2px solid #44494D;
  background-color: #44494D;
}
[type="checkbox"]:focus + label:before,[type="checkbox"]:hover + label:before,
[type="radio"]:focus + label:before,[type="radio"]:hover + label:before {
	border: 2px solid #1EAEDB !important;
}
[type="checkbox"]:focus + label:after,[type="checkbox"]:hover + label:after,
[type="radio"]:focus + label:after,[type="radio"]:hover + label:after {
	color: #1EAEDB !important;
}
[type="radio"]:not(:checked) + label:before,[type="radio"]:checked + label:before {
  border-radius: 50%;
}
[type="checkbox"]:not(:checked) + label:after,[type="checkbox"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,[type="radio"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 3px;
  font-size: 18px;
  line-height: 0.8;
  color: #FFF;
  transition: all .2s;
}
[type="checkbox"]:not(:checked) + label:after,[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after,[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before,[type="checkbox"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + label:before,[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #0FA0CE;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after,[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label,[type="radio"]:disabled + label {
  color: #aaa;
}
[type="checkbox"]:checked:focus + label:before,[type="checkbox"]:not(:checked):focus + label:before,
[type="radio"]:checked:focus + label:before,[type="radio"]:not(:checked):focus + label:before {
  border: 2px dotted #0FA0CE;
}
